<%- include("../partials/header.ejs") %> 
<%- include("../partials/nav.ejs") %> 

<ul>
    <% for(group of groups){%> 
    <li><%= group.name%> <a href="/groups/<%= group._id %> ">show</a> </li>
    <% } %> 
</ul>

<a href="/groups/new">Create A New Group</a>

<%- include("../partials/footer.ejs") %> 