
<h1><%= foundData.name %></h1>
<p><b>Description</b>: <%= foundData.description %>  </p>
<h3>Category:<%= foundData.category %> </h3>
<form action="/groups/<%= foundData._id %>?_method=DELETE" method="post">
    <button type="submit">Delete</button>
</form>
<a href="/groups/<%= foundData._id %>/edit">Update</a>